@tailwind base;
@tailwind components;
@tailwind utilities;

* {word-break: keep-all;}

.line-height-100 {
  line-height: 1;
}
.line-height-110 {
  line-height: 1.1;
}
.line-height-120 {
  line-height: 1.2;
}
.line-height-130 {
  line-height: 1.3;
}
.line-height-150 {
  line-height: 1.5;
}
.line-height-200 {
  line-height: 2;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.grid-cols-5-fr {grid-template-columns: repeat(5, 1fr);}